.start-banner {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/*leftside of banner */
.start-banner .left {
  position: relative;
}

.start-banner .left .bannerText h1 {
  font-family: poppins;
  position: absolute;
  padding-left: 30px;
  bottom: 320px;
}

.start-banner .left .bannerText p {
  font-family: poppins;
  position: absolute;
  padding-left: 80px;
  font-weight: bold;
  bottom: 220px;
}

.start-banner .left .btn {
  position: relative;
  font-family: poppins;
  background-color: var(--color-theme);
  color: white;
  font-size: 18px;
  width: 200px;
  height: 60px;
  bottom: 145px;
  left: 30px;
  border: none;
}

.start-banner .left .btn:hover {
  background-color: var(--btn-hover-dark);
  color: var(--btn-light);
  font-size: 18px;
  width: 200px;
  height: 60px;
  border: none;
}

.start-banner .left .btn::before,
.start-banner .left .btn::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  margin: 10px;
}

.start-banner .left .btn::before {
  left: 0;
  top: 0;
  border-left: 2px solid white;
  border-top: 2px solid white;
}

.start-banner .left .btn::after {
  right: 0;
  bottom: 0;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

/*-------------right banner button----------------------*/
.start-banner .right {
  position: relative;
}
.start-banner .right .bannerText2 h1 {
  font-family: poppins;
  position: absolute;
  bottom: 230px;
  padding-left: 30px;
}

.start-banner .right .btn {
  position: relative;
  font-family: poppins;
  background-color: var(--color-theme);
  color: var(--btn-light);
  font-size: 18px;
  width: 200px;
  height: 60px;
  bottom: 145px;
  left: 30px;
  border: none;
}

.start-banner .right .btn:hover {
  background-color: var(--btn-dark);
  color: var(--btn-light);
  font-size: 18px;
  width: 200px;
  height: 60px;
  border: none;
}

.start-banner .right .btn::before,
.start-banner .right .btn::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  margin: 10px;
}

.start-banner .right .btn::before {
  left: 0;
  top: 0;
  border-left: 2px solid white;
  border-top: 2px solid white;
}

.start-banner .right .btn::after {
  right: 0;
  bottom: 0;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
