:root {
  --color-theme: #ff7373;
  --btn-hover-dark: #000000;
  --btn-hover-light:#ffffff;
  --btn-dark: #000000;
  --btn-light: #ffffff;
  --btn-grey:#a3a3a3;
  --color-grey: #c4c3c3;
  --color-light-grey: #f5f5f5;
  --grey:#e7e7e7;
  --category-grey: #616365;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pop-theme {
  background-color: var(--color-theme);
  border: none;
  font-size: 12px;
  margin-left: 20px;
}

.btn-theme {
  position: relative;
  font-family: poppins;
  background-color: var(--color-theme);
  color: white;
  font-size: 18px;
  width: 200px;
  height: 60px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.btn-theme:hover {
  background-color: var(--btn-hover-dark);
  color: white;
  font-size: 18px;
  width: 200px;
  height: 60px;
  border: none;
}

.btn-theme::before,
.btn-theme::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  margin: 10px;
}

.btn-theme::before {
  left: 0;
  top: 0;
  border-left: 2px solid white;
  border-top: 2px solid white;
}

.btn-theme::after {
  right: 0;
  bottom: 0;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

@media (min-width: 1600px) {
  .headerbar {
    max-width: 1920px;
  }
  .showcase_Part {
    max-width: 1920px;
  }
  .banner_two .container {
    max-width: 1920px;
  }
}
